@import './reset.css';
@import url(https://fonts.googleapis.com/css?family=Nunito:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt:regular);


.App {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;

  background: skyblue;
  background-image: url('');
}

.header {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: #00204a;
  font-size: 46px;
  font-family: 'Rock Salt';
  text-shadow: 6px 4px 6px rgba(0,0,0,0.64);
}

.body {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: space-between;
}

button {
  font-family: 'Nunito';
  text-align: center;
  font-size: 14px;
}


/* ALL SHOW LISTS */


.list-title {
  font-size: 36px;
  font-family: 'Nunito';
  font-weight: 700;
}

.list-of-shows {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* SHOW LIST */


.showList {
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 175px;
}

.show-list-item {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show-title {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  float: left;
}

.add-button {
  margin-right: 10px;
  height: 25px;
  width: 40px;
  float: right;
}


/* MY SHOW LIST */


.myShows {
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 175px;
}

.clearShows-button {
  margin-top: 10px;
}

/*
Child of:
  .myShows
*/
.myShow-list-item {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

/* -------------------------------------
Child of:
  .myShow-list-item
*/
.myShow-title-remove-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

/*
Children of:
  .myShow-title-remove-div
*/
.myShow-title {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  float: left;
}

.remove-button {
  margin-right: 10px;
  height: 25px;
  width: 65px;
  float: right;
}

/* -------------------------------------
Child of:
  .myShow-list-item
*/
.rating-div {
  display: flex;
  align-items: center;
}

/*
Children of:
  .rating-div
*/
.rating {
  margin-left: 5px;
  margin-right: 5px;
}

.increase {
  font-size: 18px;
}

.decrease {
  font-size: 18px;
}


/* GET RANDOM EPISODE */

.getRandomEpisode {
  width: 40%;
  height: 100%;
}

.randomEpisodeDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.displayRandomEpisode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.randoInfo {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-shadow: 5px 5px 15px 7px rgba(0,0,0,0.75);
  border-radius: 10px;
  padding: 10px;
}

.randoShowTitle {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 700;
}

.randoEpiTitle {
  font-size: 26px;
  margin-bottom: 10px;
  font-weight: 600;
}

.randoSEpNo {
  font-size: 20px;
}

.episode-img {
  max-width: 100%;
  height: auto;
  box-shadow: 5px 5px 15px 7px rgba(0,0,0,0.75);
  border: 2px solid black;
}

.random-episode-button {
  font-size: 22px;
  margin-top: 20px;
}